@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --color-primary: #000;
    --color-light-grey: rgb(103, 100, 100);
    --color-background: rgba(247, 241, 241, 0.753);
    --color-base-color: blueviolet;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    font-family: "Poppins", sans-serif;
}


/* ----utility class---- */
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem; 
}

.flex{
    display: flex;
    /* flex-wrap: wrap; */
}




.navbar{
    background-color: white;
}

.nav{
    align-items: center;
    justify-content: space-between;
}

.logo-container .heading{
    font-size: 2.5rem;
    font-weight: 700;
}

.search-container{
    gap: 0.5rem;
    background-color: var(--color-background);
    padding: 0.8rem 0.7rem;
    border-radius: 3rem;
}

.search-box{
    border: none;
    background-color: var(--color-background);
    width: 500px;
    padding: 0 10px;
    font-size: 0.9rem;
}

.nav-btns{
    gap: 1.5rem;
}

.create-btn{
    background-color: var(--color-base-color);
    padding: 7px 30px;
    border-radius: 30px;
    height: fit-content;
    color: white;
    font-size: 0.9rem;
}

.profile-photo{
    height: 2.5rem;
    border-radius: 50%;
    align-self: center;
}

/* -----------------------------main------------------------------------------ */
.main{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
}

/* --------------left---------------------- */

.left{
    position: relative;
}

.profile-section{
    background-color: white;
    padding: 0.8rem 0.9rem;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.profile-section .heading{
    font-size: 1rem;
}

.profile-section .id{
    font-size: 0.8rem;
    color: var(--color-light-grey);
    font-weight: 400;
}

.main .menu-section{
    margin: 1rem 0;
    border-radius: 1rem;
    overflow: hidden;
}

.main .menu-section .active{
    background-color: var(--color-background);
    border-left: 7px solid var(--color-base-color);
    color: var(--color-base-color);
}

.main .menu-section li{
    padding: 1rem 2rem;
    gap: 1.6rem;
    background-color: white;
    cursor: pointer;
}

.main .menu-section li:hover{
    color: var(--color-base-color);
}

.main .create-container{
    justify-content: center;
}

.main .create-post{
    background-color: var(--color-base-color);
    padding: 0.7rem 3rem;
    border-radius: 2rem;
    color: white;
}

.left, .center, .right{
    height: 85vh;
    overflow-y: auto;
}

.left::-webkit-scrollbar, .center::-webkit-scrollbar, .right::-webkit-scrollbar{
    display: none;
}

/* -------------center--------------- */
.stories-container{
    gap: 10px;
    position: relative;
    overflow-x: auto;
}

.stories-container::-webkit-scrollbar{
    display: none;
}

.story{
    color: rgb(255, 255, 255);
    height: 210px;
    min-width: 110px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    border-radius: 15px;
    align-items: center;
}

.story::before{
    content: "";
    display: block;
    height: 100px;
    width: 110px;
    background: linear-gradient(transparent,rgba(0,0,0,0.75));
    position: absolute;
    bottom: 0;
    border-radius: 15px;
}

.story .profile-photo{
    align-self: center;
    border: 2px solid var(--color-base-color);
}

.story .name{
    z-index: 2;
}

.story:nth-child(1){
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo5LDTzkWe-_YnFSr8hXb1io5F22ZVJa8b4A&s");
    background-repeat: no-repeat;
    background-position: center center;
}

.story:nth-child(2){
    background: url("https://wallpapers.com/images/high/vertical-pictures-r93cdchwdse79vvv.webp");
    background-repeat: no-repeat;
    background-position: center center;
}

.story:nth-child(3){
    background: url("https://cdn.pixabay.com/photo/2023/10/23/17/53/bird-8336583_1280.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.story:nth-child(4){
    background: url("https://w0.peakpx.com/wallpaper/426/919/HD-wallpaper-vertical-stars-dark-sky-reflection.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.story:nth-child(5){
    background: url("https://i0.wp.com/digital-photography-school.com/wp-content/uploads/2013/08/1.-Moraine_final.jpg?w=600&h=1260&ssl=1");
    background-repeat: no-repeat;
    background-position: center center;
}

.story:nth-child(6){
    background: url("https://img.freepik.com/free-photo/vertical-shot-wooden-bridge-middle-forest_181624-39776.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

/* --------------post-section------------- */
.post-section{
    margin: 1rem 0;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
}

.post-section div{
    gap: 1rem;
    align-items: center;
}

.post-section #post{
    border: none;
    height: 1.7rem;
    width: 500%;
    padding: 10px;
    border-radius: 20px;
}

input{  
    outline: none;
}

/* -------------fed-section------------ */
.feed{
    background-color: white;
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
}

.header{
    gap: 1.5rem;
}

.header img{
    height: 3.5rem;
    aspect-ratio: 1;
}

.header .heading .name{
    font-size: 1.3rem;
}

.header .heading .location{
    font-size: 0.9rem;
    color: var(--color-light-grey);
}

.feed .img{
    width: 100%;
    /* border: 2px solid red; */
    padding: 1rem 0.6rem;
}

.feed .img img{
    width: 100%;
    border-radius: 15px;
}

.reaction-container{
    padding: 0 1rem;
    gap: 1rem;
}

.liked-container{
    padding: 10px;
    gap: 1.5rem;
    align-items: center;
}

.liked-container .liked-by-img img{
    height: 1.5rem;
    margin-right: -0.75rem;
    border: 2px solid white;
}

.liked-container p{
    font-size: 1rem;
    font-weight: 400;
}

.liked-container p span{
    font-weight: 700;
}


/* ----------------------------------------right----------------------------------------- */

/* -----------------message-section------------------ */
.messages-section{
    background-color: white;
    border-radius: 15px;
    padding: 0.6rem 0.8rem;
}

.messages-section .header{
    justify-content: space-between;
    padding-bottom: 10px;
}

.messages-section .header h3{
    font-size: 1rem;
    font-weight: 700;
}

.messages-section .header img{
    height: 1.5rem;
}

.messages-section .search-container {
    width: 100%;
}

.messages-section .search-container img{
    height: 1.2rem;
}

.messages-section .search-container .search-box{
    width: 100%;
}

.messages-section .headings{
    margin: 10px 0;
    padding: 3px 0px;
    justify-content: space-between;
}

.messages-section .headings h4{
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 5px solid rgb(212, 211, 211);
    text-align: center;
}

.messages-section .headings .active{
    border-bottom: 5px solid rgb(0,0,0);
}

.messages-section .messages .message{
    gap: 10px;
    padding: 7px 0;
    position: relative;
}

.messages-section .messages .message .img-container{
    height: 2.5rem;
    width: 2.5rem;
}

.messages-section .messages .message div h4{
    font-size: 0.9rem;
}

.messages-section .messages .message div p{
    font-size: 0.75rem;
    color: var(--color-light-grey);
}

.messages-section .messages .active .img-container::after{
    content: "";
    height: .5rem;
    width: .5rem;
    background-color: rgb(63, 199, 63);
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 2.1rem;
    left: 2rem;
    z-index: 10;
}

.requests-section{
    margin: 1rem 0;
}

.requests-section .heading{
    font-size: 1rem;
    color: var(--color-light-grey);
    font-weight: 500;
    margin-bottom: 1rem;
}

.requests-section .requests .request{
    gap: 10px;
    flex-direction: column;
    background-color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 15px;
    margin: 10px;
}

.requests-section .requests .request .header{
    gap: 1rem;
}

.requests-section .requests .request .header img{
    height: 3rem;
}

.requests-section .requests .request .details .username{
    font-size: 0.9rem;
    font-weight: 600;
}

.requests-section .requests .request .details .mutuals{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-light-grey);
}

.requests-section .requests .request .request-btns{
    gap: 1rem;
}

.requests-section .requests .request .request-btns button{
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: rgb(224, 221, 221);
    cursor: pointer;
    font-weight: 500;
}

.requests-section .requests .request .request-btns .accept{
    background-color: var(--color-base-color);
    color: white;
}

.requests-section .requests .request .request-btns button:hover{
    transform: scale(1.03);
}